@font-face {
    font-family: 'Times LT Pro';
    src: url('TimesLTPro-Roman.woff2') format('woff2'),
        url('TimesLTPro-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

